@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1707102231861') format('woff2'),
       url('iconfont.woff?t=1707102231861') format('woff'),
       url('iconfont.ttf?t=1707102231861') format('truetype');
}

.iconfont {
  font-family: "iconfont", sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vt-catalog-fill:before {
  content: "\e826";
}

.vt-add:before {
  content: "\e835";
}

.vt-favorites-fill:before {
  content: "\e839";
}

.vt-close:before {
  content: "\e83a";
}

.vt-info-fill:before {
  content: "\e83d";
}

.vt-help-fill:before {
  content: "\e83e";
}

.vt-quick-fill:before {
  content: "\e863";
}

.vt-telegram:before {
  content: "\e731";
}

.vt-discord:before {
  content: "\f18d";
}

.vt-github:before {
  content: "\e6f6";
}

.vt-facebook:before {
  content: "\e64e";
}

.vt-todo-fill:before {
  content: "\e833";
}

.vt-manage-fill:before {
  content: "\e834";
}

.vt-application-fill:before {
  content: "\e84a";
}

.vt-email-fill:before {
  content: "\e856";
}

.vt-search:before {
  content: "\e6a8";
}

.vt-user-fill:before {
  content: "\e828";
}

.vt-like-fill:before {
  content: "\e83b";
}

.vt-settings-fill:before {
  content: "\e840";
}

.vt-home-fill:before {
  content: "\e857";
}

