@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1706582662274') format('woff2'),
       url('iconfont.woff?t=1706582662274') format('woff'),
       url('iconfont.ttf?t=1706582662274') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vt-search:before {
  content: "\e6a8";
}

.vt-user-fill:before {
  content: "\e828";
}

.vt-like-fill:before {
  content: "\e83b";
}

.vt-settings-fill:before {
  content: "\e840";
}

.vt-home-fill:before {
  content: "\e857";
}

